.Teachers{
    background-color: #778899;
    height: 200px;
    align-items: center;
}
.Img{
    margin-top: 50px;
}
.coursenum{
    margin-top:75px;
}
.Namefont{
    font-weight: bold;
}
.studentmenu{
    margin-left: 175px;
    margin-right: 175px;
    font-weight: bold;
}
.carddiv{
    padding-top: 10px;
    padding-left:175px;
    padding-right: 175px;
}