.showCourse{
    width: 80%;
    background-color: #ffffff;
    margin-top: 30px;
    margin-left: 40px;
}

.courseContent{
    width: 1200px;
    padding: 15px;
    margin-left: 40px;
    margin-top: 20px;
    margin-right: 40px;
    background-color: #ffffff;
    -webkit-box-shadow:0px 3px 3px #c8c8c8 ;
    -moz-box-shadow:0px 3px 3px #c8c8c8 ;
    box-shadow:0px 3px 3px #c8c8c8 ;
}

.courseMessage{
    width: 860px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    margin-left: 40px;
    margin-top: 20px;
    background-color: #ffffff;
    -webkit-box-shadow:0px 3px 3px #c8c8c8 ;
    -moz-box-shadow:0px 3px 3px #c8c8c8 ;
    box-shadow:0px 3px 3px #c8c8c8 ;
    position: absolute;
}

.teacherMessage{
    width: 300px;
    padding: 15px;
    margin-left: 940px;
    margin-top: 20px;
    margin-right: 40px;
    background-color: #ffffff;
    -webkit-box-shadow:0px 3px 3px #c8c8c8 ;
    -moz-box-shadow:0px 3px 3px #c8c8c8 ;
    box-shadow:0px 3px 3px #c8c8c8 ;
    position: absolute;
}

.teacherName{
    margin-top: 20px;
    margin-left: 50px;
}

.courseTitle{
    margin-top: 30px;
    margin-left: 50px;
    font-weight: bold;
}

.courseImg{
    margin-top: 10px;
}

.courseDescription{
    margin-left: 50px;
}
.teacherDescription{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.title{
    font-size: medium;
}
.subTitle{
    margin-left: 30px;
    margin-top: 20px;
    margin-right: 30px;
    font-size: large;
    font-weight: bold;
}